In [0]:
print("Hello Python")

Hello Python

In [0]:
print ("Hello Python")

Hello Python

In [0]:
if True:
 print ("True")
else:
 print ("False")

True

In [0]:
if True:
  print("True")
else:
  print("False")

True

In [0]:
if True:
  print("Answer")
  print("True")
else:
        print(" Answer")
        print("False")

Answer
True

In [0]:
counter=100 # an integer
mile=100.5  # a float number
name="Gogte" # a string
print(counter)
print(mile)
print(name)

100
100.5
Gogte

In [0]:
a=b=c=1

In [0]:
a,b,c=2,3,4
print(a)
print(a,b)
print(a,b,c)

2
2 3
2 3 4

In [0]:
# working with strings
str="Prasad Kulkarni"
print (str[0])
print(str[1])
print(str[2])
print(str[:2])
print(str[2:])
print(str[:3])
print (str[3:])
print(str[2:5])
print(str[6:12])
print(str[6:15])
print(str*2)
print(str+'Test')

P
r
a
Pr
asad Kulkarni
Pra
sad Kulkarni
asa
 Kulka
 Kulkarni
Prasad KulkarniPrasad Kulkarni
Prasad KulkarniTest

In [0]:
# Working with list
India=[13,17,19,"Country'"," Nature", 32,13.5]
print(India[0])
print(India[:2])
print(India[2:])
print(India[2:5])
print(India*2)

13
[13, 17]
[19, "Country'", ' Nature', 32, 13.5]
[19, "Country'", ' Nature']
[13, 17, 19, "Country'", ' Nature', 32, 13.5, 13, 17, 19, "Country'", ' Nature', 32, 13.5]

In [0]:
# working with tuples
Karnataka=('state',"Belagavi",1,2,24,5,7)
print(Karnataka)
print(Karnataka[1:3])
print(Karnataka[3:])

('state', 'Belagavi', 1, 2, 24, 5, 7)
('Belagavi', 1)
(2, 24, 5, 7)

In [0]:
# working with dictionaries
dict={}
dict ['One']= "This is one"
print(One)
dict[2]="This is two"
print(dict[2])
tinydict={'Name':'John','Dept':'MBA', 'Code': 23}
print(tinydict)
print (tinydict.keys())
print(tinydict.values())

['This is one']
This is two
{'Name': 'John', 'Dept': 'MBA', 'Code': 23}
dict_keys(['Name', 'Dept', 'Code'])
dict_values(['John', 'MBA', 23])

In [0]:
x=12
int=int(x)
print(int)

12

In [0]:
# converting objects to a string representation.
x=14
y=str(x)
print(y)

14

In [0]:
# Module basic operator and calculate addition
a=2
b=3
c=2
d=a+b+c
print("the total of a,b,c is",d)

the total of a,b,c is 7

In [0]:
# basic operator and calculation of substraction
a=45
b=24
c=a-b
print("the difference of two numbers is",c)

the difference of two numbers is 21

In [0]:
#basic oeprator and calcuation of multiplication
a=15
b=23
c=a*b
print(" the product of two numbers are",c)

 the product of two numbers are 345

In [0]:
# Basic operator and calculation of division
x=456
y=231
z=x/y
print(" The reminder of two numbers is",z)

 The reminder of two numbers is 1.974025974025974

In [0]:
# comparision operators or relational operators if two operators are equal and result will becometrue
a=25
b=14
if(a==b):
  print("a is equal to b")
else:
  print("a is not equal to b")

a is not equal to b

In [0]:
# operator for getting true results when conditions are not equal as true
a=12
b=56
if (a!=b):
  print("a is not equal to b")
else:
  print("a is equal to b")

a is not equal to b

In [0]:
# larger and condition become true
x=234
y=145
if x>y:
  print("x is greater than y")
else:
  print("x is smaller than y")

x is greater than y

In [0]:
# smaller and condition operator become true
x=234
y=145
if x<y:
  print("x is greater than y")
else:
  print("x is smaller than y")

x is smaller than y

In [0]:
# greater than or equals to
x=222
y=111
if x>= y:
  print(" x is greater than or equal to y")
else:
  print(" x is not greater than or equal to y")

 x is greater than or equal to y

In [0]:
# lesser than or equal to
x=145
y=123
if x<= y:
  print(" x is greater than or equal to y")
else:
  print(" x is not greater than or equal to y")

 x is not greater than or equal to y